@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Inicio header menu*/
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0062be;
    transition: 0.5s;
    /*buen efecto*/
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: white;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

/* Fin header menu*/

/*Inicio header content*/
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .text-box {
    position: relative;
    max-width: 600px;
}

.content .text-box h2 {
    color: #fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.content .text-box h2 span {
    font-size: 2em;
}

.content .text-box p {
    color: #fff;
}

.content .text-box a {
    /*Buen boton*/
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.content .img-box {
    width: 600px;
    display: flex;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: flex-end;

}

.content .img-box img {
    max-width: 260px;

}

/*latas de abajo*/
.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
    /*Efecto de resaltado*/
}

.thumb li img {
    max-width: 40px;
}

/*social media*/
.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    filter: invert(1);
    /*cambia de negro a blanco en imagenes*/
    margin: 5px 0;
    transform: scale(0.6);
}

/*Fin header content*/


/*RESPONSIVE*/
@media (max-width:991px) {
    section {
        padding: 40px;
        padding-bottom: 140px;

    }

    header {
        padding: 20px 40px;
    }

    header .logo {
        position: relative;
        max-width: 60px;
    }

    header ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.2s;

        /*para ocultar el menu responsive*/
        visibility: hidden;
        opacity: 0;
    }

    /*se vera el menutoggle*/
    header ul.active {
        visibility: visible;
        opacity: 1;

    }

    header ul li a {
        display: inline-block;
        color: #111;
        font-weight: 400;
        margin-left: 0;
        text-decoration: none;
        font-size: 2em;
        margin: 10px 0;
    }

    header ul li a:hover {
        color: #ed0223;

    }

    /*Icono de abrir menu*/
    .toggle-menu {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../images/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        z-index: 2;
        cursor: pointer;
    }

    /*Icono de cerrar menu*/
    .toggle-menu.active {
        background: url(../images/close.png);
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
        filter: invert(1);
    }

    .content{
        flex-direction: column;
        margin-top: 80px;
    }

    .content .text-box{
        position: relative;
        max-width: 100%;
        padding-right: 20px;
    }
    .content .text-box h2{
        color: #fff;
        font-size: 3em;
    }

    .content .text-box a{
        font-size: 14px;
        padding: 8px 15px;

    }

    .content .img-box{
        width: 100%;
        display: flex;
        padding-right: 0;
        margin-top: 50px;
        justify-content: center;
    }

    .content .img-box img{
        max-width: 150px;
    }

    .thumb li img{
        max-width: 30px;
    }

    .sci{
        right: 0;
        width: 50px;
        background: rgba(0, 0, 0, 0.2);
    }
}